@model Model.Usuario
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["Mensagem"] != null)
{
    <div class="alert btn-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["Mensagem"]
    </div>
}

<form asp-controller="Login" asp-action="Entrar" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="senha">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    <p class="mb-4- text-sm mx-auto">
        Esqueceu sua senha?
        <a asp-controller="RedefinirSenha" asp-action="Index" class="text-primary text-gradient font-weight-bold">Redefinir minha senha</a>
    </p>
</form>