@model Model.Usuario

<a class="btn btn-primary" asp-area="" asp-controller="Arquivo" asp-action="Index">@Model.Nome</a>

<div container-fluid justify-content-start>
    <a class="btn btn-primary" asp-area="" asp-controller="Game" asp-action="Index">Game</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Arquivo" asp-action="Index">Lista de arquivos</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Gasto" asp-action="Index">Lista de gastos</a>
    <a class="btn btn-primary" asp-area="" asp-controller="AlterarSenha" asp-action="Index">Alterar Senha</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
</div>

